{% extends 'layout.html'%}
{% block body %}
 <div class="row-fluid">

<div class="page-header">
  <h2>Videos</h2>
</div>


            <ul class="thumbnails">

{% for video in objects %}
              <li class="span4">

<a href = "/videos/{{video.id}}">
<img style="width: 300px; height: 200px;" src="/static/uploads/{{video.filename}}.png"></a>
<p>
      <h3 align="center">{{video.name}}</h3>
    
</p>
              </li>

{% endfor %}




















  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  

{% endblock body %}
