<!DOCTYPE HTML>
<html>
<head>

<title>MYyoutube-{% block title%}index{% endblock title%}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
</head>
<body>

{%block navbar %}
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Myyoutube</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="{{ url_for('upload_file')}}">Upload</a></li>
    </ul>
  </div>
</div>
{%endblock navbar%}
<div class="container well">


{% block body %}




{% endblock body%} 

</div>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

{% block script %}

{% endblock script%}
{% for message in get_flashed_messages() %}
<div class=flash>{{ message }}</div>
{% endfor %}



</body>
</html>


